.certifications {
  width: 100%;
}

.certifications h2 {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.certifications ul {
  list-style-type: none;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.certifications li {
  background: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
  max-width: 400px;
  text-align: center;
}